<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Attendance</th>
    </tr>
  </thead>
  <tbody>
    
    {{#each ok}}
    <tr>
      <th scope="row">1</th>
      <td>this.first_name</td>
      <td>this.last_name</td>
      <td>yes</td>
    </tr>
    {{/each}}
  </tbody>
</table>